#Logs
logs/
.log

#ICEBERG
Warehouse/
spark-warehouse/

#Superset
superset_home/


#ENV
.env
.env.*

#OS
.DS_Store
Thumbs.db

.idea/
.vscode/

airflow/logs/
airflow/plugins/__pycache__/

Configs/Configs.conf